version: "3"
services:
  app:
    container_name: shopping-api
    hostname: shopping-api
    build:
      context: ./Shopping-List
      dockerfile: Dockerfile
    entrypoint: ["./wait.sh"]
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
        - shopping_network

  db:
    image: mysql:8.0.21
    container_name: shopping-db
    hostname: shopping-db
    command: --max_allowed_packet=1G --sql_mode=""
    ports:
        - "30000:3306"
    volumes:
        - "mysql:/var/lib/mysql"
    env_file:
        - db/deploy.env
    healthcheck:
        test: ["CMD", "root" ,"ping", "-h", "localhost"]
        timeout: 20s
        retries: 10

    networks:
        - shopping_network

networks:
    shopping_network:
volumes:
    mysql: